[Desktop Entry]
Version=1.0
Name=Inbox
Comment=Inbox by Google
Keywords=inbox;mail;email;google
Exec=gnome-inbox
Terminal=false
Type=Application
StartupNotify=true
Icon=io.mspencer.Inbox
