/* A container holding the compose FAB + menu */
.nPQzwd.iP {
  display: none;
}

/* Container holding hangout chat windows */
#OPOhoe {
  display: none;
}

/* Navigation bar */
.Ut6z6b {
  display: none;
}

/* Remove padding needed for the navbar */
.cM.bz {
  padding-top: 0 !important;
}

/* Right navbar buttons */
.rs.k2 {
  display: none;
}

/* An IFrame causing a weird dot in the upper left corner */
#gtn-roster-iframe-id {
  display: none;
}

/* Search suggestions */
.ne.r9 {
  display: none;
}

/* Left navigation menu */
.fv.tTwEpb {
  display: none;
}

/* Copied from inbox. Mark as important to override the styles when the left menu is open */

.bz {
  width:1200px !important;
  margin-left:auto !important;
  margin-right:auto !important;
}
@media (max-width:1800px) {
  .bz {
    width:66.66% !important;
  }
}
@media (max-width:1260px) {
  .bz {
    width:840px !important;
  }
}
@media (max-width:920px) {
  .bz {
    width:auto !important;
    margin-left:40px !important;
    margin-right:40px !important;
  }
}
